:root {
    --white: #ffffff;
    --black: #000000;

    --primary-background: #151616;

    --primary-050: #DBEEF3; // Staffora Water
    --primary-100: #BED5DB;
    --primary-150: #3491BD; // Staffora Blue
    --primary-200: #2281AD;
    --primary-250: #004F71; // Staffora Navy
    --primary-300: #1C3572; // Staffora sapphire
    --primary-400: #232840; // Staffora stone

    --secondary-050: #F7F7F7; // Staffora light
    --secondary-100: #DAE1EA; // Staffora ice
    --secondary-150: #EBEBEB; //Staffora light silver
    --secondary-200: #C7C9C7; // Staffora silver
    --secondary-300: #5B6770; // Staffora granite

    --tertiary-050: #D8E8E8; // Staffora mint
    --tertiary-050: #1C736B; // Staffora pine
    --tertiary-050: #234141; // Staffora forest

    --gray-300: #CBD5E1;

    --success-050: #e3f9e5;
    --success-100: #c1f2c7;
    --success-200: #91e697;
    --success-300: #51ca58;
    --success-400: #039F25;
    --success-500: #18981d;
    --success-600: #0f8613;
    --success-700: #0e7817;
    --success-800: #07600e;
    --success-900: #014807;

    --danger-050: #ffe3e3;
    --danger-100: #ffbdbd;
    --danger-200: #ff9b9b;
    --danger-300: #f86a6a;
    --danger-400: #ef4e4e;
    --danger-500: #e12d39;
    --danger-600: #C10A0A;
    --danger-700: #ab091e;
    --danger-800: #8a041a;
    --danger-900: #610316;

    --input-staffora-placeholder-color: rgba(91, 103, 112, 0.6);
    --input-staffora-background-color: #EAEAEA;
    --input-staffora-color: #5B6770;

    --searchable-select-option-background-color: #EFEFEF;

    --multi-select-selected-card-background: #DBDBDB
}